.navbar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:#D87D4A;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.navbar-list li {
  margin-right: 10px;
}
